@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:700&display=swap);

body{
    background-color: antiquewhite;
}

div{
    margin-bottom: 30px;
}


h2{
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 50px 20px;
    color: brown;
    max-width: 800px;
    margin: 30px auto;
    background-color: aqua;
    border-radius: 30px;
}

.icons{
    max-width: 1200px;
    margin: 0 auto;
}

.content-imege{
    max-width: 1200px;
    margin: 40px auto;
}

div:not(:last-child){
    margin-bottom: 50px;
}

.design{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}