@import url(reset.css);

@font-face {
    font-family: "Circular Std";
    src: url("..//fonts/CircularStd-Medium.woff2") format('woff2'),url("..//fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: "Roboto";
}
.header__top{
    text-align: center;
    color: brown;
    font-style: inherit;
    text-decoration: line-through;
}

.header__top-header{
    font-family: "Oswald";
    color: green;
    text-decoration: overline;
}

.lessons{
    font-family: "Oswald";
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.list{
    font-family: "Oswald";
    font-weight: 300;
    color: blue;
    text-align: right;
    text-transform: uppercase;
}
.list__one {
    font-family: "Playfair+Display";
    font-weight: bold;
    font-style: italic;
    color: steelblue;
    text-align: justify;
    text-transform: lowercase;
}
.title{
    text-indent: 30px;
    font-size: 24px;
    line-height: 1.25;
    color: blueviolet;
    text-shadow: 2px 2px 2px red, -2px -2px 5px #000  
}

.plenka{
    font-family: "Oswald";
    font-weight: bold;
    color: yellowgreen;
    white-space: nowrap;
}
.colorred{
    font-family: "Oswald";
    font-weight: bold;
    color: red;
    word-spacing: 10px;
}
.footer__down{
    font-family: "Playfair+Display";
    font-weight: 500;
    font-style: italic;
    color: violet;
    text-transform: capitalize;
    word-spacing: 20px;
}

.fonts{
    font-family: "Playfair+Display";
    font-weight: 900;
    font-style: italic;
    color: tomato;
}


